.formfield {
  padding: 0.125rem 0.5rem;
  border-radius: var(--radius-lg);
  background-color: #fffff2;
  outline: 2px solid #70B4D4;
}

.formfield:disabled {
  cursor: not-allowed;
  filter: brightness(0.75);
}

/* Remove focus outlines from map container and its children */
.leaflet-container:focus,
.leaflet-container *:focus {
  outline: none !important;
}
