footer.site_footer {
  left: 0;
  bottom: 0;
  background-color: var(--color-bg-dark);
  width: 100%;
  padding: 40px;
  padding-bottom: calc(40px + env(safe-area-inset-bottom));
  text-align: center;
}
