input.iv_timeline {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  pointer-events: none;
  background: transparent;
  height: 1.5rem;
  outline: 0;
  visibility: hidden;
}

input.iv_timeline::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
  height: 0;
}

input.iv_timeline::-moz-range-track {
  background: transparent;
  border: transparent;
  height: 0;
}

input.iv_timeline::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
  height: 0;
}

input.iv_timeline::-webkit-slider-thumb {
  visibility: visible;
  pointer-events: auto;
  width: 0.85rem;
  height: 1.75rem;
  -webkit-appearance: none;
  margin-top: -0.875rem;
  border-radius: 0.25rem;
  background-color: var(--color-primary-blue);
  border: 1px solid var(--color-text-main);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.iv_timeline::-webkit-slider-thumb:hover {
  filter: brightness(0.9);
}

input.iv_timeline::-webkit-slider-thumb:active {
  transform: translateY(1px);
  filter: brightness(0.9);
}

input.iv_timeline::-moz-range-thumb {
  visibility: visible;
  pointer-events: auto;
  width: 0.625rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-color: var(--color-primary-blue);
  border: 2px solid var(--color-text-main);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.iv_timeline::-moz-range-thumb:hover {
  filter: brightness(0.9);
}

input.iv_timeline::-moz-range-thumb:active {
  transform: translateY(1px);
  filter: brightness(0.9);
}

input.iv_timeline.current::-webkit-slider-thumb {
  background-color: var(--color-text-light);
}

input.iv_timeline.current::-webkit-slider-thumb:hover {
  background-color: var(--color-border-light);
}

input.iv_timeline.current::-moz-range-thumb {
  background-color: var(--color-text-light);
}

input.iv_timeline.current::-moz-range-thumb:hover {
  background-color: var(--color-border-light);
}
