div.mselect_container {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
}

div.mselect_label {
  width: 100%;
  padding-bottom: 8px;
  text-align: center;
}

select.mselect_selectvariant {
  background-color: var(--color-bg-ivory);
  width: 100px;
  margin: auto;
  overflow-y: auto;

  outline: 2px solid var(--color-primary-blue);
}

select.mselect_selectmatrix {
  background-color: var(--color-bg-ivory);
  width: 300px;
  margin: auto;
  overflow-y: auto;

  outline: 2px solid var(--color-primary-blue);
}

div.mselect_varadder {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
}


input.mselect_input {
  background-color: var(--color-bg-ivory);
  width: 70%;
  outline: 2px solid var(--color-primary-blue);
  padding: 0px 2px;
}
