nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 30px;
  background-color: var(--color-bg-dark);

  padding-left: 25%;
  padding-right: 25%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 9999;
}

/* This is to add a height buffer at the top for other elements */
div.navbuffer {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

@media screen and (max-width: 800px) {
  nav {
    padding-left: 15px;
    padding-right: 10px;
  }
}

img {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

ul {
  list-style: none;
  display: flex;
}

a.link,
button.link {
  font-size: 12px;
  color: var(--color-text-light);
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  transition: 200ms;
  background: none;
  border: none;
  cursor: pointer;
}

a.link:hover,
button.link:hover {
  transform: scale(1.05);
  filter: brightness(80%);
}

.user-dropdown-container {
  position: relative;
}

.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 180px;
  background: var(--color-bg-dark);
  border: 1px solid var(--color-border-light);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.user-dropdown-name {
  font-size: 13px;
  font-weight: 600;
  color: var(--color-text-light);
  margin: 0;
}

.user-dropdown-org {
  font-size: 11px;
  color: var(--color-text-light);
  opacity: 0.7;
  margin: 0;
}

button.modal {
  cursor: pointer;
  transition: all 100ms ease-in-out;
  outline: solid 1px;
  padding: 0.25rem 2rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
}

button.modal:hover {
  transform: scale(1.05);
  background-color: var(--color-bg-ivory);
  color: var(--color-bg-dark);
  cursor: pointer;
}

button.modal:active {
  filter: brightness(80%);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
