div.sim_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: calc(100vh - 160px);
}

div.sim_settings {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  column-gap: 30px;
  row-gap: 30px;
}

div.sim_output {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 50px;
}

input[type="range"] {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-text-main);
  height: 5px;
  border-radius: 5px;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-primary-blue);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--color-text-main);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  filter: brightness(80%);
}

input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-primary-blue);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--color-text-main);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
  filter: brightness(80%);
}

input[type="range"]::-moz-range-thumb:active {
  transform: scale(1.2);
}
