/* --- Default variant --- */
.ui-slider--default {
  background-color: var(--color-text-main);
}

.ui-slider--default::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-primary-blue);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--color-text-main);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.ui-slider--default::-webkit-slider-thumb:hover {
  filter: brightness(0.9);
}

.ui-slider--default::-webkit-slider-thumb:active {
  transform: translateY(1px);
  filter: brightness(0.9);
}

.ui-slider--default::-moz-range-thumb {
  appearance: none;
  background-color: var(--color-primary-blue);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--color-text-main);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.ui-slider--default::-moz-range-thumb:hover {
  filter: brightness(0.9);
}

.ui-slider--default::-moz-range-thumb:active {
  transform: translateY(1px);
  filter: brightness(0.9);
}

/* --- Dark variant --- */
.ui-slider--dark {
  background-color: var(--color-gray-mid);
}

.ui-slider--dark::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--color-accent-teal);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--color-gray-dark);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.ui-slider--dark::-webkit-slider-thumb:hover {
  background-color: var(--color-primary-blue);
}

.ui-slider--dark::-webkit-slider-thumb:active {
  transform: translateY(1px);
  background-color: var(--color-primary-blue);
}

.ui-slider--dark::-moz-range-thumb {
  appearance: none;
  background-color: var(--color-accent-teal);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--color-gray-dark);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.ui-slider--dark::-moz-range-thumb:hover {
  background-color: var(--color-primary-blue);
}

.ui-slider--dark::-moz-range-thumb:active {
  transform: translateY(1px);

}
