input.iv_timeline {
  appearance: none;
  -webkit-appearance: none;
  pointer-events: none;
  background: transparent !important;
}

input.iv_timeline::-webkit-slider-runnable-track {
  background: transparent !important;
  border: transparent !important;
  height: 0 !important;
}

input.iv_timeline::-moz-range-track {
  background: transparent !important;
  border: transparent !important;
  height: 0 !important;
}

input.iv_timeline::-webkit-slider-thumb {
  pointer-events: auto;
  width: 0.85rem !important;
  height: 1.75rem !important;
  -webkit-appearance: none;
  margin-top: -0.75rem; /* Centers thumb since track height is 0 */
  border-radius: 0.25rem !important;
  background-color: #909090;
  border: 1px solid #505050;
}

input.iv_timeline::-moz-range-thumb {
  pointer-events: auto;
  width: 0.625rem !important;
  height: 1.5rem !important;
  border-radius: 0.25rem !important;
  background-color: #909090;
  border: 1px solid #505050;
}

input.iv_timeline.current::-webkit-slider-thumb {
  background-color: #f0f0f0;
}

input.iv_timeline.current::-moz-range-thumb {
  background-color: #f0f0f0;
}

button.iv_timeline {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  outline: solid 1px #fffff2;
  padding: 0.25rem 2rem;
  text-wrap: nowrap;
  border-radius: var(--radius-lg);
  color: #f0f0f0;
}

button.iv_timeline:hover {
  transform: scale(1.05);
  background-color: #fffff2;
  color: #222629;
  outline: solid 1px #222629;
  cursor: pointer;
}

button.iv_timeline:active {
  filter: brightness(80%);
}

button.iv_timeline:disabled {
  pointer-events: none;
}
