.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

button[type=submit] {
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

button[type=submit]:hover {
  transform: scale(1.05);
  background-color: #F0F0F0;
  color: #222629;
  cursor: pointer;
}

button[type=submit]:active {
  filter: brightness(80%);
}
