div.mselect_container {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

div.mselect_label {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
}

select.mselect_selectvariant {
  width: 100px;
  margin: auto;
}

select.mselect_selectmatrix {
  width: 300px;
  margin: auto;
}

div.mselect_varadder {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

button.mselect_button {
  border: none;
  border-radius: 25px;
  width: 50px;
  height: 20px;
  background-color: #222629;
  color: #F0F0F0;
  text-decoration: none;
  text-align: center;
  line-height:4px;
  font-size: 14px;
  font-family: 'Poppins';
  transition: 200ms ease-in-out;
}

button.mselect_button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

button.mselect_button:active {
  filter: brightness(80%);
}