div.mselect_container {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
}

div.mselect_label {
  width: 100%;
  padding-bottom: 8px;
  text-align: center;
}

select.mselect_selectvariant {
  background-color: #fffff2;
  width: 100px;
  margin: auto;
  overflow-y: auto;

  outline: 2px solid #70b4d4;
}

select.mselect_selectmatrix {
  background-color: #fffff2;
  width: 300px;
  margin: auto;
  overflow-y: auto;

  outline: 2px solid #70b4d4;
}

div.mselect_varadder {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
}

button.mselect_button {
  border: none;
  border-radius: 10px;
  width: 10%;
  height: 20px;
  background-color: #222629;
  color: #f0f0f0;
  text-decoration: none;
  text-align: center;
  line-height: 2px;
  font-size: 14px;
  font-family: "Poppins";
  transition: 200ms ease-in-out;
}

button.mselect_button:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
  color: #222629;
  cursor: pointer;
}

button.mselect_button:active {
  filter: brightness(80%);
}

input.mselect_input {
  background-color: #fffff2;
  width: 70%;
  outline: 2px solid #70b4d4;
  padding: 0px 2px;
}
