nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 30px;
  background-color: #222629;

  padding-left: 25%;
  padding-right: 25%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 9999;
}

/* This is to add a height buffer at the top for other elements */
div.navbuffer {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
}

@media screen and (max-width: 800px) {
  nav {
    padding-left: 15px;
    padding-right: 10px;
  }
}

img {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}

ul {
  list-style: none;
  display: flex;
}

a.link {
  font-size: 12px;
  color: #f0f0f0;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  transition: 200ms;
}

a.link:hover {
  transform: scale(1.05);
  filter: brightness(80%);
}

button.modal {
  cursor: pointer;
  transition: all 100ms ease-in-out;
  outline: solid 1px;
  padding: 0.25rem 2rem;
  border-radius: var(--radius-lg);
  margin-top: 0.5rem;
}

button.modal:hover {
  transform: scale(1.05);
  background-color: #fffff2;
  color: #222629;
  cursor: pointer;
}

button.modal:active {
  filter: brightness(80%);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
