input[type="file"] {
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  padding: 2px 12px;
  border-radius: var(--radius-md);
  background: #fffff2;
  border: 2px solid #70b4d4;
}

div.simset_slider_label {
  text-align: center;
  padding-bottom: 15px;
}

button.simset_button {
  border: 2px solid #f0f0f0;
  border-radius: 25px;
  background-color: #222629;
  height: 50px;
  padding: 12px;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins";
  transition: 200ms ease-in-out;
}

button.simset_button:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
  color: #222629;
  cursor: pointer;
}

button.simset_button:active {
  filter: brightness(80%);
}
