div.home_shapes {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;
}

span.home_shape {
  position: absolute;
  transform-origin: center;
  pointer-events: none;
}

@keyframes scroll {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg); 
  }
}