div.simset_settings {
  width: 70rem;
  height: 100%;

  max-width: 90vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  column-gap: 30px;
  row-gap: 30px;
}

div.simset_params {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;

  column-gap: 75px;
  row-gap: 50px;
}
