.formfield {
  padding: 0.125rem 0.5rem;
  border-radius: var(--radius-lg);
  background-color: var(--color-bg-ivory);
  outline: 2px solid var(--color-primary-blue);
}

.formfield:disabled {
  cursor: not-allowed;
  filter: brightness(0.75);
}