footer.site_footer {
  left: 0;
  bottom: 0;
  background-color: var(--color-bg-dark);
  width: 100%;
  padding: 40px;
  text-align: center;
}

button.site_footer {
  border: 2px solid var(--color-border-light);
  border-radius: 25px;
  background-color: var(--color-bg-dark);
  width: 120px;
  height: 50px;
  padding: 12px;
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins";
  transition: 200ms ease-in-out;
}

button.site_footer:hover {
  transform: scale(1.05);
  background-color: var(--color-text-light);
  color: var(--color-bg-dark);
  cursor: pointer;
}

button.site_footer:active {
  filter: brightness(80%);
}