div.modelmap_legend_div {
  position: absolute;
  z-index: 1;
  background-color: var(--color-bg-ivory);
  margin: 10px;
  padding: 5px;
  outline: 2px solid var(--color-primary-blue);

  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px;

  transition: all 0.25s ease-in-out;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.modelmap_legend_div::-webkit-scrollbar {
  display: none;
}

div.modelmap_legend_div_unhover {
  height: 20px;
  width: 50px;
}

div.modelmap_legend_div_hover {
  height: calc(60vh - 20px);
  width: 100px;
}
