div.outputgraphs_container {
  width: 900px;
  max-width: 100%;
  height: 600px;
  padding-bottom: 60px;
}

div.outputgraph_chart {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-ivory);
  padding: 50px;
  outline: 2px solid var(--color-primary-blue);
}