input[type="file"] {
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  padding: 2px 12px;
  border-radius: var(--radius-md);
  background: var(--color-bg-ivory);
  border: 2px solid var(--color-primary-blue);
}

div.simset_slider_label {
  text-align: center;
  padding-bottom: 15px;
}

button.simset_button {
  border: 2px solid var(--color-border-light);
  border-radius: 25px;
  background-color: var(--color-bg-dark);
  height: 50px;
  padding: 12px;
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins";
  transition: 200ms ease-in-out;
}

button.simset_button:hover {
  transform: scale(1.05);
  background-color: var(--color-text-light);
  color: var(--color-bg-dark);
  cursor: pointer;
}

button.simset_button:active {
  filter: brightness(80%);
}